<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Charlie's Christening 1"
	indexPageName="index.html"

>
  <image imageURL="images/CNW051117_0003.jpg"
	thumbURL="thumbs/CNW051117_0003.jpg"
	linkURL="images/CNW051117_0003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0003.JPG">
    <title><![CDATA[CNW051117_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0004.jpg"
	thumbURL="thumbs/CNW051117_0004.jpg"
	linkURL="images/CNW051117_0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0004.JPG">
    <title><![CDATA[CNW051117_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0005.jpg"
	thumbURL="thumbs/CNW051117_0005.jpg"
	linkURL="images/CNW051117_0005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0005.JPG">
    <title><![CDATA[CNW051117_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0006.jpg"
	thumbURL="thumbs/CNW051117_0006.jpg"
	linkURL="images/CNW051117_0006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0006.JPG">
    <title><![CDATA[CNW051117_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0007.jpg"
	thumbURL="thumbs/CNW051117_0007.jpg"
	linkURL="images/CNW051117_0007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0007.JPG">
    <title><![CDATA[CNW051117_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0008.jpg"
	thumbURL="thumbs/CNW051117_0008.jpg"
	linkURL="images/CNW051117_0008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0008.JPG">
    <title><![CDATA[CNW051117_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0009.jpg"
	thumbURL="thumbs/CNW051117_0009.jpg"
	linkURL="images/CNW051117_0009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0009.JPG">
    <title><![CDATA[CNW051117_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0010.jpg"
	thumbURL="thumbs/CNW051117_0010.jpg"
	linkURL="images/CNW051117_0010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0010.JPG">
    <title><![CDATA[CNW051117_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0011.jpg"
	thumbURL="thumbs/CNW051117_0011.jpg"
	linkURL="images/CNW051117_0011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0011.JPG">
    <title><![CDATA[CNW051117_0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0012.jpg"
	thumbURL="thumbs/CNW051117_0012.jpg"
	linkURL="images/CNW051117_0012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0012.JPG">
    <title><![CDATA[CNW051117_0012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0013.jpg"
	thumbURL="thumbs/CNW051117_0013.jpg"
	linkURL="images/CNW051117_0013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0013.JPG">
    <title><![CDATA[CNW051117_0013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0014.jpg"
	thumbURL="thumbs/CNW051117_0014.jpg"
	linkURL="images/CNW051117_0014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0014.JPG">
    <title><![CDATA[CNW051117_0014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0015.jpg"
	thumbURL="thumbs/CNW051117_0015.jpg"
	linkURL="images/CNW051117_0015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0015.JPG">
    <title><![CDATA[CNW051117_0015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0016.jpg"
	thumbURL="thumbs/CNW051117_0016.jpg"
	linkURL="images/CNW051117_0016.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0016.JPG">
    <title><![CDATA[CNW051117_0016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0017.jpg"
	thumbURL="thumbs/CNW051117_0017.jpg"
	linkURL="images/CNW051117_0017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0017.JPG">
    <title><![CDATA[CNW051117_0017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0018.jpg"
	thumbURL="thumbs/CNW051117_0018.jpg"
	linkURL="images/CNW051117_0018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0018.JPG">
    <title><![CDATA[CNW051117_0018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0019.jpg"
	thumbURL="thumbs/CNW051117_0019.jpg"
	linkURL="images/CNW051117_0019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0019.JPG">
    <title><![CDATA[CNW051117_0019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0020.jpg"
	thumbURL="thumbs/CNW051117_0020.jpg"
	linkURL="images/CNW051117_0020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0020.JPG">
    <title><![CDATA[CNW051117_0020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0021.jpg"
	thumbURL="thumbs/CNW051117_0021.jpg"
	linkURL="images/CNW051117_0021.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0021.JPG">
    <title><![CDATA[CNW051117_0021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0022.jpg"
	thumbURL="thumbs/CNW051117_0022.jpg"
	linkURL="images/CNW051117_0022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0022.JPG">
    <title><![CDATA[CNW051117_0022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0023.jpg"
	thumbURL="thumbs/CNW051117_0023.jpg"
	linkURL="images/CNW051117_0023.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0023.JPG">
    <title><![CDATA[CNW051117_0023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0024.jpg"
	thumbURL="thumbs/CNW051117_0024.jpg"
	linkURL="images/CNW051117_0024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0024.JPG">
    <title><![CDATA[CNW051117_0024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0025.jpg"
	thumbURL="thumbs/CNW051117_0025.jpg"
	linkURL="images/CNW051117_0025.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0025.JPG">
    <title><![CDATA[CNW051117_0025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0026.jpg"
	thumbURL="thumbs/CNW051117_0026.jpg"
	linkURL="images/CNW051117_0026.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0026.JPG">
    <title><![CDATA[CNW051117_0026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0027.jpg"
	thumbURL="thumbs/CNW051117_0027.jpg"
	linkURL="images/CNW051117_0027.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0027.JPG">
    <title><![CDATA[CNW051117_0027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0028.jpg"
	thumbURL="thumbs/CNW051117_0028.jpg"
	linkURL="images/CNW051117_0028.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0028.JPG">
    <title><![CDATA[CNW051117_0028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0029.jpg"
	thumbURL="thumbs/CNW051117_0029.jpg"
	linkURL="images/CNW051117_0029.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0029.JPG">
    <title><![CDATA[CNW051117_0029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0030.jpg"
	thumbURL="thumbs/CNW051117_0030.jpg"
	linkURL="images/CNW051117_0030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0030.JPG">
    <title><![CDATA[CNW051117_0030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0031.jpg"
	thumbURL="thumbs/CNW051117_0031.jpg"
	linkURL="images/CNW051117_0031.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0031.JPG">
    <title><![CDATA[CNW051117_0031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0032.jpg"
	thumbURL="thumbs/CNW051117_0032.jpg"
	linkURL="images/CNW051117_0032.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0032.JPG">
    <title><![CDATA[CNW051117_0032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0033.jpg"
	thumbURL="thumbs/CNW051117_0033.jpg"
	linkURL="images/CNW051117_0033.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0033.JPG">
    <title><![CDATA[CNW051117_0033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0034.jpg"
	thumbURL="thumbs/CNW051117_0034.jpg"
	linkURL="images/CNW051117_0034.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0034.JPG">
    <title><![CDATA[CNW051117_0034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0035.jpg"
	thumbURL="thumbs/CNW051117_0035.jpg"
	linkURL="images/CNW051117_0035.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0035.JPG">
    <title><![CDATA[CNW051117_0035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0036.jpg"
	thumbURL="thumbs/CNW051117_0036.jpg"
	linkURL="images/CNW051117_0036.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0036.JPG">
    <title><![CDATA[CNW051117_0036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0037.jpg"
	thumbURL="thumbs/CNW051117_0037.jpg"
	linkURL="images/CNW051117_0037.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0037.JPG">
    <title><![CDATA[CNW051117_0037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0038.jpg"
	thumbURL="thumbs/CNW051117_0038.jpg"
	linkURL="images/CNW051117_0038.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0038.JPG">
    <title><![CDATA[CNW051117_0038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0039.jpg"
	thumbURL="thumbs/CNW051117_0039.jpg"
	linkURL="images/CNW051117_0039.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0039.JPG">
    <title><![CDATA[CNW051117_0039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0040.jpg"
	thumbURL="thumbs/CNW051117_0040.jpg"
	linkURL="images/CNW051117_0040.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0040.JPG">
    <title><![CDATA[CNW051117_0040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0041.jpg"
	thumbURL="thumbs/CNW051117_0041.jpg"
	linkURL="images/CNW051117_0041.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0041.JPG">
    <title><![CDATA[CNW051117_0041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0042.jpg"
	thumbURL="thumbs/CNW051117_0042.jpg"
	linkURL="images/CNW051117_0042.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0042.JPG">
    <title><![CDATA[CNW051117_0042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0043.jpg"
	thumbURL="thumbs/CNW051117_0043.jpg"
	linkURL="images/CNW051117_0043.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0043.JPG">
    <title><![CDATA[CNW051117_0043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0044.jpg"
	thumbURL="thumbs/CNW051117_0044.jpg"
	linkURL="images/CNW051117_0044.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0044.JPG">
    <title><![CDATA[CNW051117_0044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0045.jpg"
	thumbURL="thumbs/CNW051117_0045.jpg"
	linkURL="images/CNW051117_0045.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0045.JPG">
    <title><![CDATA[CNW051117_0045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0046.jpg"
	thumbURL="thumbs/CNW051117_0046.jpg"
	linkURL="images/CNW051117_0046.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0046.JPG">
    <title><![CDATA[CNW051117_0046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0047.jpg"
	thumbURL="thumbs/CNW051117_0047.jpg"
	linkURL="images/CNW051117_0047.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0047.JPG">
    <title><![CDATA[CNW051117_0047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0048.jpg"
	thumbURL="thumbs/CNW051117_0048.jpg"
	linkURL="images/CNW051117_0048.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0048.JPG">
    <title><![CDATA[CNW051117_0048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0049.jpg"
	thumbURL="thumbs/CNW051117_0049.jpg"
	linkURL="images/CNW051117_0049.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0049.JPG">
    <title><![CDATA[CNW051117_0049]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0050.jpg"
	thumbURL="thumbs/CNW051117_0050.jpg"
	linkURL="images/CNW051117_0050.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0050.JPG">
    <title><![CDATA[CNW051117_0050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0001.jpg"
	thumbURL="thumbs/CNW051117_0001.jpg"
	linkURL="images/CNW051117_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0001.JPG">
    <title><![CDATA[CNW051117_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0002.jpg"
	thumbURL="thumbs/CNW051117_0002.jpg"
	linkURL="images/CNW051117_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0002.JPG">
    <title><![CDATA[CNW051117_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>