<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	captionPosition="NONE"
	backgroundColor="rgba(0,0,0,1)"
	shareFacebook="true"
	shareTwitter="true"
	sharePinterest="true"
	shareTumblr="true"
	galleryTitle="Jasmine &amp; Darius Wedding 6th May 2023"
	useFullscreenExpand="true"
	galleryTitleHAlign="CENTER"
	galleryTitlePosition="ABOVE_THUMBS"
	textColor="rgba(102,204,255,1)"

>
  <image imageURL="images/Screenshot_20230413-112625.jpg"
	thumbURL="thumbs/Screenshot_20230413-112625.jpg"
	linkURL="images/Screenshot_20230413-112625.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Screenshot_20230413-112625.png">
    <title><![CDATA[Screenshot_20230413-112625]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/softRings.jpg"
	thumbURL="thumbs/softRings.jpg"
	linkURL="images/softRings.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\softRings.jpg">
    <title><![CDATA[softRings]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0009 (2).jpg"
	thumbURL="thumbs/DSCF0009 (2).jpg"
	linkURL="images/DSCF0009 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0009 (2).JPG">
    <title><![CDATA[DSCF0009 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0228 (2).jpg"
	thumbURL="thumbs/DSCF0228 (2).jpg"
	linkURL="images/DSCF0228 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0228 (2).JPG">
    <title><![CDATA[DSCF0228 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0154 (2).jpg"
	thumbURL="thumbs/DSCF0154 (2).jpg"
	linkURL="images/DSCF0154 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0154 (2).JPG">
    <title><![CDATA[DSCF0154 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0016 (2).jpg"
	thumbURL="thumbs/DSCF0016 (2).jpg"
	linkURL="images/DSCF0016 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0016 (2).JPG">
    <title><![CDATA[DSCF0016 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0056.jpg"
	thumbURL="thumbs/DSCF0056.jpg"
	linkURL="images/DSCF0056.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0056.JPG">
    <title><![CDATA[DSCF0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CupCake.jpg"
	thumbURL="thumbs/CupCake.jpg"
	linkURL="images/CupCake.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\CupCake.jpg">
    <title><![CDATA[CupCake]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0040 (2).jpg"
	thumbURL="thumbs/DSCF0040 (2).jpg"
	linkURL="images/DSCF0040 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0040 (2).JPG">
    <title><![CDATA[DSCF0040 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0041 (2).jpg"
	thumbURL="thumbs/DSCF0041 (2).jpg"
	linkURL="images/DSCF0041 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0041 (2).JPG">
    <title><![CDATA[DSCF0041 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0045 (2).jpg"
	thumbURL="thumbs/DSCF0045 (2).jpg"
	linkURL="images/DSCF0045 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0045 (2).JPG">
    <title><![CDATA[DSCF0045 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/HVH4.jpg"
	thumbURL="thumbs/HVH4.jpg"
	linkURL="images/HVH4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\HVH4.jpg">
    <title><![CDATA[HVH4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/HVH1a.jpg"
	thumbURL="thumbs/HVH1a.jpg"
	linkURL="images/HVH1a.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\HVH1a.jpg">
    <title><![CDATA[HVH1a]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/HVH2a.jpg"
	thumbURL="thumbs/HVH2a.jpg"
	linkURL="images/HVH2a.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\HVH2a.jpg">
    <title><![CDATA[HVH2a]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0035 (2).jpg"
	thumbURL="thumbs/DSCF0035 (2).jpg"
	linkURL="images/DSCF0035 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0035 (2).JPG">
    <title><![CDATA[DSCF0035 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0036 (2).jpg"
	thumbURL="thumbs/DSCF0036 (2).jpg"
	linkURL="images/DSCF0036 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0036 (2).JPG">
    <title><![CDATA[DSCF0036 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0170 (2).jpg"
	thumbURL="thumbs/DSCF0170 (2).jpg"
	linkURL="images/DSCF0170 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0170 (2).JPG">
    <title><![CDATA[DSCF0170 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0018.jpg"
	thumbURL="thumbs/DSCF0018.jpg"
	linkURL="images/DSCF0018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0018.JPG">
    <title><![CDATA[DSCF0018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0020 (2).jpg"
	thumbURL="thumbs/DSCF0020 (2).jpg"
	linkURL="images/DSCF0020 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0020 (2).JPG">
    <title><![CDATA[DSCF0020 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0021 (2).jpg"
	thumbURL="thumbs/DSCF0021 (2).jpg"
	linkURL="images/DSCF0021 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0021 (2).JPG">
    <title><![CDATA[DSCF0021 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0025 (2).jpg"
	thumbURL="thumbs/DSCF0025 (2).jpg"
	linkURL="images/DSCF0025 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0025 (2).JPG">
    <title><![CDATA[DSCF0025 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0027 (2).jpg"
	thumbURL="thumbs/DSCF0027 (2).jpg"
	linkURL="images/DSCF0027 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0027 (2).JPG">
    <title><![CDATA[DSCF0027 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0028 (2).jpg"
	thumbURL="thumbs/DSCF0028 (2).jpg"
	linkURL="images/DSCF0028 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0028 (2).JPG">
    <title><![CDATA[DSCF0028 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0033 (2).jpg"
	thumbURL="thumbs/DSCF0033 (2).jpg"
	linkURL="images/DSCF0033 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0033 (2).JPG">
    <title><![CDATA[DSCF0033 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0058 (2).jpg"
	thumbURL="thumbs/DSCF0058 (2).jpg"
	linkURL="images/DSCF0058 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0058 (2).JPG">
    <title><![CDATA[DSCF0058 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0039 (2).jpg"
	thumbURL="thumbs/DSCF0039 (2).jpg"
	linkURL="images/DSCF0039 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0039 (2).JPG">
    <title><![CDATA[DSCF0039 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0061.jpg"
	thumbURL="thumbs/DSCF0061.jpg"
	linkURL="images/DSCF0061.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0061.JPG">
    <title><![CDATA[DSCF0061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0063 (2).jpg"
	thumbURL="thumbs/DSCF0063 (2).jpg"
	linkURL="images/DSCF0063 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0063 (2).JPG">
    <title><![CDATA[DSCF0063 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0065 (2).jpg"
	thumbURL="thumbs/DSCF0065 (2).jpg"
	linkURL="images/DSCF0065 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0065 (2).JPG">
    <title><![CDATA[DSCF0065 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0066 (2).jpg"
	thumbURL="thumbs/DSCF0066 (2).jpg"
	linkURL="images/DSCF0066 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0066 (2).JPG">
    <title><![CDATA[DSCF0066 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0068 (2).jpg"
	thumbURL="thumbs/DSCF0068 (2).jpg"
	linkURL="images/DSCF0068 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0068 (2).JPG">
    <title><![CDATA[DSCF0068 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0071.jpg"
	thumbURL="thumbs/DSCF0071.jpg"
	linkURL="images/DSCF0071.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0071.JPG">
    <title><![CDATA[DSCF0071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0072.jpg"
	thumbURL="thumbs/DSCF0072.jpg"
	linkURL="images/DSCF0072.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0072.JPG">
    <title><![CDATA[DSCF0072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0073.jpg"
	thumbURL="thumbs/DSCF0073.jpg"
	linkURL="images/DSCF0073.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0073.JPG">
    <title><![CDATA[DSCF0073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0075.jpg"
	thumbURL="thumbs/DSCF0075.jpg"
	linkURL="images/DSCF0075.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0075.JPG">
    <title><![CDATA[DSCF0075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0079.jpg"
	thumbURL="thumbs/DSCF0079.jpg"
	linkURL="images/DSCF0079.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0079.JPG">
    <title><![CDATA[DSCF0079]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0081.jpg"
	thumbURL="thumbs/DSCF0081.jpg"
	linkURL="images/DSCF0081.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0081.JPG">
    <title><![CDATA[DSCF0081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0087 (2).jpg"
	thumbURL="thumbs/DSCF0087 (2).jpg"
	linkURL="images/DSCF0087 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0087 (2).JPG">
    <title><![CDATA[DSCF0087 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0088.jpg"
	thumbURL="thumbs/DSCF0088.jpg"
	linkURL="images/DSCF0088.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0088.JPG">
    <title><![CDATA[DSCF0088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0089 (2).jpg"
	thumbURL="thumbs/DSCF0089 (2).jpg"
	linkURL="images/DSCF0089 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0089 (2).JPG">
    <title><![CDATA[DSCF0089 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0090.jpg"
	thumbURL="thumbs/DSCF0090.jpg"
	linkURL="images/DSCF0090.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0090.JPG">
    <title><![CDATA[DSCF0090]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0092.jpg"
	thumbURL="thumbs/DSCF0092.jpg"
	linkURL="images/DSCF0092.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0092.JPG">
    <title><![CDATA[DSCF0092]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0094.jpg"
	thumbURL="thumbs/DSCF0094.jpg"
	linkURL="images/DSCF0094.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0094.JPG">
    <title><![CDATA[DSCF0094]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0097 (2).jpg"
	thumbURL="thumbs/DSCF0097 (2).jpg"
	linkURL="images/DSCF0097 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0097 (2).JPG">
    <title><![CDATA[DSCF0097 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0098 (2).jpg"
	thumbURL="thumbs/DSCF0098 (2).jpg"
	linkURL="images/DSCF0098 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0098 (2).JPG">
    <title><![CDATA[DSCF0098 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0099 (2).jpg"
	thumbURL="thumbs/DSCF0099 (2).jpg"
	linkURL="images/DSCF0099 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0099 (2).JPG">
    <title><![CDATA[DSCF0099 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0100.jpg"
	thumbURL="thumbs/DSCF0100.jpg"
	linkURL="images/DSCF0100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0100.JPG">
    <title><![CDATA[DSCF0100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0103 (2).jpg"
	thumbURL="thumbs/DSCF0103 (2).jpg"
	linkURL="images/DSCF0103 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0103 (2).JPG">
    <title><![CDATA[DSCF0103 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0107.jpg"
	thumbURL="thumbs/DSCF0107.jpg"
	linkURL="images/DSCF0107.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0107.JPG">
    <title><![CDATA[DSCF0107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0109.jpg"
	thumbURL="thumbs/DSCF0109.jpg"
	linkURL="images/DSCF0109.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0109.JPG">
    <title><![CDATA[DSCF0109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0110 (2).jpg"
	thumbURL="thumbs/DSCF0110 (2).jpg"
	linkURL="images/DSCF0110 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0110 (2).JPG">
    <title><![CDATA[DSCF0110 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0112 (2).jpg"
	thumbURL="thumbs/DSCF0112 (2).jpg"
	linkURL="images/DSCF0112 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0112 (2).JPG">
    <title><![CDATA[DSCF0112 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0115 (2).jpg"
	thumbURL="thumbs/DSCF0115 (2).jpg"
	linkURL="images/DSCF0115 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0115 (2).JPG">
    <title><![CDATA[DSCF0115 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0118.jpg"
	thumbURL="thumbs/DSCF0118.jpg"
	linkURL="images/DSCF0118.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0118.JPG">
    <title><![CDATA[DSCF0118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0121.jpg"
	thumbURL="thumbs/DSCF0121.jpg"
	linkURL="images/DSCF0121.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0121.JPG">
    <title><![CDATA[DSCF0121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0124.jpg"
	thumbURL="thumbs/DSCF0124.jpg"
	linkURL="images/DSCF0124.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0124.JPG">
    <title><![CDATA[DSCF0124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0123.jpg"
	thumbURL="thumbs/DSCF0123.jpg"
	linkURL="images/DSCF0123.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0123.JPG">
    <title><![CDATA[DSCF0123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0128 (2).jpg"
	thumbURL="thumbs/DSCF0128 (2).jpg"
	linkURL="images/DSCF0128 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0128 (2).JPG">
    <title><![CDATA[DSCF0128 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0129 (2).jpg"
	thumbURL="thumbs/DSCF0129 (2).jpg"
	linkURL="images/DSCF0129 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0129 (2).JPG">
    <title><![CDATA[DSCF0129 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0132 (2).jpg"
	thumbURL="thumbs/DSCF0132 (2).jpg"
	linkURL="images/DSCF0132 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0132 (2).JPG">
    <title><![CDATA[DSCF0132 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0137 (2).jpg"
	thumbURL="thumbs/DSCF0137 (2).jpg"
	linkURL="images/DSCF0137 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0137 (2).JPG">
    <title><![CDATA[DSCF0137 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0138 (2).jpg"
	thumbURL="thumbs/DSCF0138 (2).jpg"
	linkURL="images/DSCF0138 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0138 (2).JPG">
    <title><![CDATA[DSCF0138 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0145 (2).jpg"
	thumbURL="thumbs/DSCF0145 (2).jpg"
	linkURL="images/DSCF0145 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0145 (2).JPG">
    <title><![CDATA[DSCF0145 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0148.jpg"
	thumbURL="thumbs/DSCF0148.jpg"
	linkURL="images/DSCF0148.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0148.JPG">
    <title><![CDATA[DSCF0148]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0152 (2).jpg"
	thumbURL="thumbs/DSCF0152 (2).jpg"
	linkURL="images/DSCF0152 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0152 (2).JPG">
    <title><![CDATA[DSCF0152 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0156 (2).jpg"
	thumbURL="thumbs/DSCF0156 (2).jpg"
	linkURL="images/DSCF0156 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0156 (2).JPG">
    <title><![CDATA[DSCF0156 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0157 (2).jpg"
	thumbURL="thumbs/DSCF0157 (2).jpg"
	linkURL="images/DSCF0157 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0157 (2).JPG">
    <title><![CDATA[DSCF0157 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0161 (2).jpg"
	thumbURL="thumbs/DSCF0161 (2).jpg"
	linkURL="images/DSCF0161 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0161 (2).JPG">
    <title><![CDATA[DSCF0161 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0166 (2).jpg"
	thumbURL="thumbs/DSCF0166 (2).jpg"
	linkURL="images/DSCF0166 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0166 (2).JPG">
    <title><![CDATA[DSCF0166 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0168 (2).jpg"
	thumbURL="thumbs/DSCF0168 (2).jpg"
	linkURL="images/DSCF0168 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0168 (2).JPG">
    <title><![CDATA[DSCF0168 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0173 (2).jpg"
	thumbURL="thumbs/DSCF0173 (2).jpg"
	linkURL="images/DSCF0173 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0173 (2).JPG">
    <title><![CDATA[DSCF0173 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0176 (2).jpg"
	thumbURL="thumbs/DSCF0176 (2).jpg"
	linkURL="images/DSCF0176 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0176 (2).JPG">
    <title><![CDATA[DSCF0176 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0180.jpg"
	thumbURL="thumbs/DSCF0180.jpg"
	linkURL="images/DSCF0180.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0180.JPG">
    <title><![CDATA[DSCF0180]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0184 (2).jpg"
	thumbURL="thumbs/DSCF0184 (2).jpg"
	linkURL="images/DSCF0184 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0184 (2).JPG">
    <title><![CDATA[DSCF0184 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0186 (2).jpg"
	thumbURL="thumbs/DSCF0186 (2).jpg"
	linkURL="images/DSCF0186 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0186 (2).JPG">
    <title><![CDATA[DSCF0186 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0190 (2).jpg"
	thumbURL="thumbs/DSCF0190 (2).jpg"
	linkURL="images/DSCF0190 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0190 (2).JPG">
    <title><![CDATA[DSCF0190 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0193 (2).jpg"
	thumbURL="thumbs/DSCF0193 (2).jpg"
	linkURL="images/DSCF0193 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0193 (2).JPG">
    <title><![CDATA[DSCF0193 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0196 (2).jpg"
	thumbURL="thumbs/DSCF0196 (2).jpg"
	linkURL="images/DSCF0196 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0196 (2).JPG">
    <title><![CDATA[DSCF0196 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0198 (2).jpg"
	thumbURL="thumbs/DSCF0198 (2).jpg"
	linkURL="images/DSCF0198 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0198 (2).JPG">
    <title><![CDATA[DSCF0198 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0200 (2).jpg"
	thumbURL="thumbs/DSCF0200 (2).jpg"
	linkURL="images/DSCF0200 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0200 (2).JPG">
    <title><![CDATA[DSCF0200 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0202 (2).jpg"
	thumbURL="thumbs/DSCF0202 (2).jpg"
	linkURL="images/DSCF0202 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0202 (2).JPG">
    <title><![CDATA[DSCF0202 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0203 (2).jpg"
	thumbURL="thumbs/DSCF0203 (2).jpg"
	linkURL="images/DSCF0203 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0203 (2).JPG">
    <title><![CDATA[DSCF0203 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0206 (2).jpg"
	thumbURL="thumbs/DSCF0206 (2).jpg"
	linkURL="images/DSCF0206 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0206 (2).JPG">
    <title><![CDATA[DSCF0206 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0207 (2).jpg"
	thumbURL="thumbs/DSCF0207 (2).jpg"
	linkURL="images/DSCF0207 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0207 (2).JPG">
    <title><![CDATA[DSCF0207 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0210.jpg"
	thumbURL="thumbs/DSCF0210.jpg"
	linkURL="images/DSCF0210.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0210.JPG">
    <title><![CDATA[DSCF0210]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0213 (2).jpg"
	thumbURL="thumbs/DSCF0213 (2).jpg"
	linkURL="images/DSCF0213 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0213 (2).JPG">
    <title><![CDATA[DSCF0213 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0216 (2).jpg"
	thumbURL="thumbs/DSCF0216 (2).jpg"
	linkURL="images/DSCF0216 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0216 (2).JPG">
    <title><![CDATA[DSCF0216 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0217 (2).jpg"
	thumbURL="thumbs/DSCF0217 (2).jpg"
	linkURL="images/DSCF0217 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0217 (2).JPG">
    <title><![CDATA[DSCF0217 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0220 (2).jpg"
	thumbURL="thumbs/DSCF0220 (2).jpg"
	linkURL="images/DSCF0220 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0220 (2).JPG">
    <title><![CDATA[DSCF0220 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0223 (2).jpg"
	thumbURL="thumbs/DSCF0223 (2).jpg"
	linkURL="images/DSCF0223 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0223 (2).JPG">
    <title><![CDATA[DSCF0223 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0225 (2).jpg"
	thumbURL="thumbs/DSCF0225 (2).jpg"
	linkURL="images/DSCF0225 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0225 (2).JPG">
    <title><![CDATA[DSCF0225 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0227.jpg"
	thumbURL="thumbs/DSCF0227.jpg"
	linkURL="images/DSCF0227.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0227.JPG">
    <title><![CDATA[DSCF0227]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0247.jpg"
	thumbURL="thumbs/DSCF0247.jpg"
	linkURL="images/DSCF0247.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0247.JPG">
    <title><![CDATA[DSCF0247]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0259 (2).jpg"
	thumbURL="thumbs/DSCF0259 (2).jpg"
	linkURL="images/DSCF0259 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0259 (2).JPG">
    <title><![CDATA[DSCF0259 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0263.jpg"
	thumbURL="thumbs/DSCF0263.jpg"
	linkURL="images/DSCF0263.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0263.JPG">
    <title><![CDATA[DSCF0263]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0339.jpg"
	thumbURL="thumbs/DSCF0339.jpg"
	linkURL="images/DSCF0339.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0339.JPG">
    <title><![CDATA[DSCF0339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0340.jpg"
	thumbURL="thumbs/DSCF0340.jpg"
	linkURL="images/DSCF0340.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0340.JPG">
    <title><![CDATA[DSCF0340]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0342.jpg"
	thumbURL="thumbs/DSCF0342.jpg"
	linkURL="images/DSCF0342.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0342.JPG">
    <title><![CDATA[DSCF0342]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0351.jpg"
	thumbURL="thumbs/DSCF0351.jpg"
	linkURL="images/DSCF0351.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0351.JPG">
    <title><![CDATA[DSCF0351]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0244.jpg"
	thumbURL="thumbs/DSCF0244.jpg"
	linkURL="images/DSCF0244.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0244.JPG">
    <title><![CDATA[DSCF0244]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0269 (2).jpg"
	thumbURL="thumbs/DSCF0269 (2).jpg"
	linkURL="images/DSCF0269 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0269 (2).JPG">
    <title><![CDATA[DSCF0269 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0273 (2).jpg"
	thumbURL="thumbs/DSCF0273 (2).jpg"
	linkURL="images/DSCF0273 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0273 (2).JPG">
    <title><![CDATA[DSCF0273 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0276 (2).jpg"
	thumbURL="thumbs/DSCF0276 (2).jpg"
	linkURL="images/DSCF0276 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0276 (2).JPG">
    <title><![CDATA[DSCF0276 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0281 (2).jpg"
	thumbURL="thumbs/DSCF0281 (2).jpg"
	linkURL="images/DSCF0281 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0281 (2).JPG">
    <title><![CDATA[DSCF0281 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0280 (2).jpg"
	thumbURL="thumbs/DSCF0280 (2).jpg"
	linkURL="images/DSCF0280 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0280 (2).JPG">
    <title><![CDATA[DSCF0280 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0292 (2).jpg"
	thumbURL="thumbs/DSCF0292 (2).jpg"
	linkURL="images/DSCF0292 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0292 (2).JPG">
    <title><![CDATA[DSCF0292 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0294 (2).jpg"
	thumbURL="thumbs/DSCF0294 (2).jpg"
	linkURL="images/DSCF0294 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0294 (2).JPG">
    <title><![CDATA[DSCF0294 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0301 (2).jpg"
	thumbURL="thumbs/DSCF0301 (2).jpg"
	linkURL="images/DSCF0301 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0301 (2).JPG">
    <title><![CDATA[DSCF0301 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0302 (2).jpg"
	thumbURL="thumbs/DSCF0302 (2).jpg"
	linkURL="images/DSCF0302 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0302 (2).JPG">
    <title><![CDATA[DSCF0302 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0317.jpg"
	thumbURL="thumbs/DSCF0317.jpg"
	linkURL="images/DSCF0317.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0317.JPG">
    <title><![CDATA[DSCF0317]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0327 (2).jpg"
	thumbURL="thumbs/DSCF0327 (2).jpg"
	linkURL="images/DSCF0327 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0327 (2).JPG">
    <title><![CDATA[DSCF0327 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0331 (2).jpg"
	thumbURL="thumbs/DSCF0331 (2).jpg"
	linkURL="images/DSCF0331 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0331 (2).JPG">
    <title><![CDATA[DSCF0331 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0333.jpg"
	thumbURL="thumbs/DSCF0333.jpg"
	linkURL="images/DSCF0333.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0333.JPG">
    <title><![CDATA[DSCF0333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0348 (2).jpg"
	thumbURL="thumbs/DSCF0348 (2).jpg"
	linkURL="images/DSCF0348 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0348 (2).JPG">
    <title><![CDATA[DSCF0348 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0358 (2).jpg"
	thumbURL="thumbs/DSCF0358 (2).jpg"
	linkURL="images/DSCF0358 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0358 (2).JPG">
    <title><![CDATA[DSCF0358 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0356 (2).jpg"
	thumbURL="thumbs/DSCF0356 (2).jpg"
	linkURL="images/DSCF0356 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0356 (2).JPG">
    <title><![CDATA[DSCF0356 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/HVH3.jpg"
	thumbURL="thumbs/HVH3.jpg"
	linkURL="images/HVH3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\HVH3.jpg">
    <title><![CDATA[HVH3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>