<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Charlie's Christening 2"

>
  <image imageURL="images/CNW051117_0093.jpg"
	thumbURL="thumbs/CNW051117_0093.jpg"
	linkURL="images/CNW051117_0093.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0093.JPG">
    <title><![CDATA[CNW051117_0093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0094.jpg"
	thumbURL="thumbs/CNW051117_0094.jpg"
	linkURL="images/CNW051117_0094.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0094.JPG">
    <title><![CDATA[CNW051117_0094]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0095.jpg"
	thumbURL="thumbs/CNW051117_0095.jpg"
	linkURL="images/CNW051117_0095.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0095.JPG">
    <title><![CDATA[CNW051117_0095]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0096.jpg"
	thumbURL="thumbs/CNW051117_0096.jpg"
	linkURL="images/CNW051117_0096.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0096.JPG">
    <title><![CDATA[CNW051117_0096]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0097.jpg"
	thumbURL="thumbs/CNW051117_0097.jpg"
	linkURL="images/CNW051117_0097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0097.JPG">
    <title><![CDATA[CNW051117_0097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0098.jpg"
	thumbURL="thumbs/CNW051117_0098.jpg"
	linkURL="images/CNW051117_0098.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0098.JPG">
    <title><![CDATA[CNW051117_0098]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0099.jpg"
	thumbURL="thumbs/CNW051117_0099.jpg"
	linkURL="images/CNW051117_0099.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0099.JPG">
    <title><![CDATA[CNW051117_0099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0100.jpg"
	thumbURL="thumbs/CNW051117_0100.jpg"
	linkURL="images/CNW051117_0100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0100.JPG">
    <title><![CDATA[CNW051117_0100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0051.jpg"
	thumbURL="thumbs/CNW051117_0051.jpg"
	linkURL="images/CNW051117_0051.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0051.JPG">
    <title><![CDATA[CNW051117_0051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0052.jpg"
	thumbURL="thumbs/CNW051117_0052.jpg"
	linkURL="images/CNW051117_0052.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0052.JPG">
    <title><![CDATA[CNW051117_0052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0053.jpg"
	thumbURL="thumbs/CNW051117_0053.jpg"
	linkURL="images/CNW051117_0053.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0053.JPG">
    <title><![CDATA[CNW051117_0053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0054.jpg"
	thumbURL="thumbs/CNW051117_0054.jpg"
	linkURL="images/CNW051117_0054.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0054.JPG">
    <title><![CDATA[CNW051117_0054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0055.jpg"
	thumbURL="thumbs/CNW051117_0055.jpg"
	linkURL="images/CNW051117_0055.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0055.JPG">
    <title><![CDATA[CNW051117_0055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0056.jpg"
	thumbURL="thumbs/CNW051117_0056.jpg"
	linkURL="images/CNW051117_0056.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0056.JPG">
    <title><![CDATA[CNW051117_0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0057.jpg"
	thumbURL="thumbs/CNW051117_0057.jpg"
	linkURL="images/CNW051117_0057.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0057.JPG">
    <title><![CDATA[CNW051117_0057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0058.jpg"
	thumbURL="thumbs/CNW051117_0058.jpg"
	linkURL="images/CNW051117_0058.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0058.JPG">
    <title><![CDATA[CNW051117_0058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0059.jpg"
	thumbURL="thumbs/CNW051117_0059.jpg"
	linkURL="images/CNW051117_0059.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0059.JPG">
    <title><![CDATA[CNW051117_0059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0060.jpg"
	thumbURL="thumbs/CNW051117_0060.jpg"
	linkURL="images/CNW051117_0060.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0060.JPG">
    <title><![CDATA[CNW051117_0060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0061.jpg"
	thumbURL="thumbs/CNW051117_0061.jpg"
	linkURL="images/CNW051117_0061.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0061.JPG">
    <title><![CDATA[CNW051117_0061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0062.jpg"
	thumbURL="thumbs/CNW051117_0062.jpg"
	linkURL="images/CNW051117_0062.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0062.JPG">
    <title><![CDATA[CNW051117_0062]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0063.jpg"
	thumbURL="thumbs/CNW051117_0063.jpg"
	linkURL="images/CNW051117_0063.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0063.JPG">
    <title><![CDATA[CNW051117_0063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0064.jpg"
	thumbURL="thumbs/CNW051117_0064.jpg"
	linkURL="images/CNW051117_0064.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0064.JPG">
    <title><![CDATA[CNW051117_0064]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0065.jpg"
	thumbURL="thumbs/CNW051117_0065.jpg"
	linkURL="images/CNW051117_0065.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0065.JPG">
    <title><![CDATA[CNW051117_0065]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0066.jpg"
	thumbURL="thumbs/CNW051117_0066.jpg"
	linkURL="images/CNW051117_0066.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0066.JPG">
    <title><![CDATA[CNW051117_0066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0067.jpg"
	thumbURL="thumbs/CNW051117_0067.jpg"
	linkURL="images/CNW051117_0067.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0067.JPG">
    <title><![CDATA[CNW051117_0067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0068.jpg"
	thumbURL="thumbs/CNW051117_0068.jpg"
	linkURL="images/CNW051117_0068.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0068.JPG">
    <title><![CDATA[CNW051117_0068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0069.jpg"
	thumbURL="thumbs/CNW051117_0069.jpg"
	linkURL="images/CNW051117_0069.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0069.JPG">
    <title><![CDATA[CNW051117_0069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0070.jpg"
	thumbURL="thumbs/CNW051117_0070.jpg"
	linkURL="images/CNW051117_0070.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0070.JPG">
    <title><![CDATA[CNW051117_0070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0071.jpg"
	thumbURL="thumbs/CNW051117_0071.jpg"
	linkURL="images/CNW051117_0071.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0071.JPG">
    <title><![CDATA[CNW051117_0071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0072.jpg"
	thumbURL="thumbs/CNW051117_0072.jpg"
	linkURL="images/CNW051117_0072.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0072.JPG">
    <title><![CDATA[CNW051117_0072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0073.jpg"
	thumbURL="thumbs/CNW051117_0073.jpg"
	linkURL="images/CNW051117_0073.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0073.JPG">
    <title><![CDATA[CNW051117_0073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0074.jpg"
	thumbURL="thumbs/CNW051117_0074.jpg"
	linkURL="images/CNW051117_0074.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0074.JPG">
    <title><![CDATA[CNW051117_0074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0075.jpg"
	thumbURL="thumbs/CNW051117_0075.jpg"
	linkURL="images/CNW051117_0075.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0075.JPG">
    <title><![CDATA[CNW051117_0075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0076.jpg"
	thumbURL="thumbs/CNW051117_0076.jpg"
	linkURL="images/CNW051117_0076.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0076.JPG">
    <title><![CDATA[CNW051117_0076]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0077.jpg"
	thumbURL="thumbs/CNW051117_0077.jpg"
	linkURL="images/CNW051117_0077.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0077.JPG">
    <title><![CDATA[CNW051117_0077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0078.jpg"
	thumbURL="thumbs/CNW051117_0078.jpg"
	linkURL="images/CNW051117_0078.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0078.JPG">
    <title><![CDATA[CNW051117_0078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0079.jpg"
	thumbURL="thumbs/CNW051117_0079.jpg"
	linkURL="images/CNW051117_0079.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0079.JPG">
    <title><![CDATA[CNW051117_0079]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0080.jpg"
	thumbURL="thumbs/CNW051117_0080.jpg"
	linkURL="images/CNW051117_0080.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0080.JPG">
    <title><![CDATA[CNW051117_0080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0081.jpg"
	thumbURL="thumbs/CNW051117_0081.jpg"
	linkURL="images/CNW051117_0081.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0081.JPG">
    <title><![CDATA[CNW051117_0081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0082.jpg"
	thumbURL="thumbs/CNW051117_0082.jpg"
	linkURL="images/CNW051117_0082.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0082.JPG">
    <title><![CDATA[CNW051117_0082]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0083.jpg"
	thumbURL="thumbs/CNW051117_0083.jpg"
	linkURL="images/CNW051117_0083.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0083.JPG">
    <title><![CDATA[CNW051117_0083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0084.jpg"
	thumbURL="thumbs/CNW051117_0084.jpg"
	linkURL="images/CNW051117_0084.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0084.JPG">
    <title><![CDATA[CNW051117_0084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0085.jpg"
	thumbURL="thumbs/CNW051117_0085.jpg"
	linkURL="images/CNW051117_0085.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0085.JPG">
    <title><![CDATA[CNW051117_0085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0086.jpg"
	thumbURL="thumbs/CNW051117_0086.jpg"
	linkURL="images/CNW051117_0086.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0086.JPG">
    <title><![CDATA[CNW051117_0086]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0087.jpg"
	thumbURL="thumbs/CNW051117_0087.jpg"
	linkURL="images/CNW051117_0087.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0087.JPG">
    <title><![CDATA[CNW051117_0087]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0088.jpg"
	thumbURL="thumbs/CNW051117_0088.jpg"
	linkURL="images/CNW051117_0088.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0088.JPG">
    <title><![CDATA[CNW051117_0088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0089.jpg"
	thumbURL="thumbs/CNW051117_0089.jpg"
	linkURL="images/CNW051117_0089.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0089.JPG">
    <title><![CDATA[CNW051117_0089]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0090.jpg"
	thumbURL="thumbs/CNW051117_0090.jpg"
	linkURL="images/CNW051117_0090.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0090.JPG">
    <title><![CDATA[CNW051117_0090]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0091.jpg"
	thumbURL="thumbs/CNW051117_0091.jpg"
	linkURL="images/CNW051117_0091.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0091.JPG">
    <title><![CDATA[CNW051117_0091]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0092.jpg"
	thumbURL="thumbs/CNW051117_0092.jpg"
	linkURL="images/CNW051117_0092.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0092.JPG">
    <title><![CDATA[CNW051117_0092]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>