<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFullscreenExpand="true"
	captionPosition="NONE"
	galleryTitle="Out Takes and Family Portraits"
	textColor="rgba(0,0,255,1)"
	galleryTitlePosition="ABOVE_THUMBS"
	galleryTitleHAlign="CENTER"

>
  <image imageURL="images/DSCF0195.jpg"
	thumbURL="thumbs/DSCF0195.jpg"
	linkURL="images/DSCF0195.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0195.JPG">
    <title><![CDATA[DSCF0195]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0150.jpg"
	thumbURL="thumbs/DSCF0150.jpg"
	linkURL="images/DSCF0150.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0150.JPG">
    <title><![CDATA[DSCF0150]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0171 (2).jpg"
	thumbURL="thumbs/DSCF0171 (2).jpg"
	linkURL="images/DSCF0171 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0171 (2).JPG">
    <title><![CDATA[DSCF0171 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0174.jpg"
	thumbURL="thumbs/DSCF0174.jpg"
	linkURL="images/DSCF0174.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0174.JPG">
    <title><![CDATA[DSCF0174]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0177.jpg"
	thumbURL="thumbs/DSCF0177.jpg"
	linkURL="images/DSCF0177.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0177.JPG">
    <title><![CDATA[DSCF0177]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0187.jpg"
	thumbURL="thumbs/DSCF0187.jpg"
	linkURL="images/DSCF0187.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0187.JPG">
    <title><![CDATA[DSCF0187]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0231.jpg"
	thumbURL="thumbs/DSCF0231.jpg"
	linkURL="images/DSCF0231.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0231.JPG">
    <title><![CDATA[DSCF0231]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0234.jpg"
	thumbURL="thumbs/DSCF0234.jpg"
	linkURL="images/DSCF0234.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0234.JPG">
    <title><![CDATA[DSCF0234]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0235.jpg"
	thumbURL="thumbs/DSCF0235.jpg"
	linkURL="images/DSCF0235.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0235.JPG">
    <title><![CDATA[DSCF0235]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0236.jpg"
	thumbURL="thumbs/DSCF0236.jpg"
	linkURL="images/DSCF0236.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0236.JPG">
    <title><![CDATA[DSCF0236]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0237.jpg"
	thumbURL="thumbs/DSCF0237.jpg"
	linkURL="images/DSCF0237.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0237.JPG">
    <title><![CDATA[DSCF0237]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0238.jpg"
	thumbURL="thumbs/DSCF0238.jpg"
	linkURL="images/DSCF0238.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0238.JPG">
    <title><![CDATA[DSCF0238]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0232.jpg"
	thumbURL="thumbs/DSCF0232.jpg"
	linkURL="images/DSCF0232.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0232.JPG">
    <title><![CDATA[DSCF0232]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0233.jpg"
	thumbURL="thumbs/DSCF0233.jpg"
	linkURL="images/DSCF0233.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0233.JPG">
    <title><![CDATA[DSCF0233]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0239 (2).jpg"
	thumbURL="thumbs/DSCF0239 (2).jpg"
	linkURL="images/DSCF0239 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0239 (2).JPG">
    <title><![CDATA[DSCF0239 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0261.jpg"
	thumbURL="thumbs/DSCF0261.jpg"
	linkURL="images/DSCF0261.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0261.JPG">
    <title><![CDATA[DSCF0261]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0307.jpg"
	thumbURL="thumbs/DSCF0307.jpg"
	linkURL="images/DSCF0307.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0307.JPG">
    <title><![CDATA[DSCF0307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0308.jpg"
	thumbURL="thumbs/DSCF0308.jpg"
	linkURL="images/DSCF0308.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0308.JPG">
    <title><![CDATA[DSCF0308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0326 (2).jpg"
	thumbURL="thumbs/DSCF0326 (2).jpg"
	linkURL="images/DSCF0326 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0326 (2).JPG">
    <title><![CDATA[DSCF0326 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0335 (2).jpg"
	thumbURL="thumbs/DSCF0335 (2).jpg"
	linkURL="images/DSCF0335 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0335 (2).JPG">
    <title><![CDATA[DSCF0335 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0343 (2).jpg"
	thumbURL="thumbs/DSCF0343 (2).jpg"
	linkURL="images/DSCF0343 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0343 (2).JPG">
    <title><![CDATA[DSCF0343 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0344 (2).jpg"
	thumbURL="thumbs/DSCF0344 (2).jpg"
	linkURL="images/DSCF0344 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0344 (2).JPG">
    <title><![CDATA[DSCF0344 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0345 (2).jpg"
	thumbURL="thumbs/DSCF0345 (2).jpg"
	linkURL="images/DSCF0345 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0345 (2).JPG">
    <title><![CDATA[DSCF0345 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0352 (2).jpg"
	thumbURL="thumbs/DSCF0352 (2).jpg"
	linkURL="images/DSCF0352 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0352 (2).JPG">
    <title><![CDATA[DSCF0352 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0365.jpg"
	thumbURL="thumbs/DSCF0365.jpg"
	linkURL="images/DSCF0365.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0365.JPG">
    <title><![CDATA[DSCF0365]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0366.jpg"
	thumbURL="thumbs/DSCF0366.jpg"
	linkURL="images/DSCF0366.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0366.JPG">
    <title><![CDATA[DSCF0366]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0361.jpg"
	thumbURL="thumbs/DSCF0361.jpg"
	linkURL="images/DSCF0361.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0361.JPG">
    <title><![CDATA[DSCF0361]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0362.jpg"
	thumbURL="thumbs/DSCF0362.jpg"
	linkURL="images/DSCF0362.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0362.JPG">
    <title><![CDATA[DSCF0362]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0363.jpg"
	thumbURL="thumbs/DSCF0363.jpg"
	linkURL="images/DSCF0363.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0363.JPG">
    <title><![CDATA[DSCF0363]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF0364.jpg"
	thumbURL="thumbs/DSCF0364.jpg"
	linkURL="images/DSCF0364.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@@kevin\@2023\Darius&amp;Jazz\Camera Upload\100_FUJI\DSCF0364.JPG">
    <title><![CDATA[DSCF0364]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>