<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Charlie's Christening 3"

>
  <image imageURL="images/CNW051117_0113.jpg"
	thumbURL="thumbs/CNW051117_0113.jpg"
	linkURL="images/CNW051117_0113.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0113.JPG">
    <title><![CDATA[CNW051117_0113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0114.jpg"
	thumbURL="thumbs/CNW051117_0114.jpg"
	linkURL="images/CNW051117_0114.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0114.JPG">
    <title><![CDATA[CNW051117_0114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0115.jpg"
	thumbURL="thumbs/CNW051117_0115.jpg"
	linkURL="images/CNW051117_0115.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0115.JPG">
    <title><![CDATA[CNW051117_0115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0116.jpg"
	thumbURL="thumbs/CNW051117_0116.jpg"
	linkURL="images/CNW051117_0116.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0116.JPG">
    <title><![CDATA[CNW051117_0116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0117.jpg"
	thumbURL="thumbs/CNW051117_0117.jpg"
	linkURL="images/CNW051117_0117.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0117.JPG">
    <title><![CDATA[CNW051117_0117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0118.jpg"
	thumbURL="thumbs/CNW051117_0118.jpg"
	linkURL="images/CNW051117_0118.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0118.JPG">
    <title><![CDATA[CNW051117_0118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0119.jpg"
	thumbURL="thumbs/CNW051117_0119.jpg"
	linkURL="images/CNW051117_0119.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0119.JPG">
    <title><![CDATA[CNW051117_0119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0120.jpg"
	thumbURL="thumbs/CNW051117_0120.jpg"
	linkURL="images/CNW051117_0120.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0120.JPG">
    <title><![CDATA[CNW051117_0120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0121.jpg"
	thumbURL="thumbs/CNW051117_0121.jpg"
	linkURL="images/CNW051117_0121.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0121.JPG">
    <title><![CDATA[CNW051117_0121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0122.jpg"
	thumbURL="thumbs/CNW051117_0122.jpg"
	linkURL="images/CNW051117_0122.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0122.JPG">
    <title><![CDATA[CNW051117_0122]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0101.jpg"
	thumbURL="thumbs/CNW051117_0101.jpg"
	linkURL="images/CNW051117_0101.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0101.JPG">
    <title><![CDATA[CNW051117_0101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0102.jpg"
	thumbURL="thumbs/CNW051117_0102.jpg"
	linkURL="images/CNW051117_0102.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0102.JPG">
    <title><![CDATA[CNW051117_0102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0103.jpg"
	thumbURL="thumbs/CNW051117_0103.jpg"
	linkURL="images/CNW051117_0103.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0103.JPG">
    <title><![CDATA[CNW051117_0103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0104.jpg"
	thumbURL="thumbs/CNW051117_0104.jpg"
	linkURL="images/CNW051117_0104.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0104.JPG">
    <title><![CDATA[CNW051117_0104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0105.jpg"
	thumbURL="thumbs/CNW051117_0105.jpg"
	linkURL="images/CNW051117_0105.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0105.JPG">
    <title><![CDATA[CNW051117_0105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0106.jpg"
	thumbURL="thumbs/CNW051117_0106.jpg"
	linkURL="images/CNW051117_0106.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0106.JPG">
    <title><![CDATA[CNW051117_0106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0107.jpg"
	thumbURL="thumbs/CNW051117_0107.jpg"
	linkURL="images/CNW051117_0107.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0107.JPG">
    <title><![CDATA[CNW051117_0107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0108.jpg"
	thumbURL="thumbs/CNW051117_0108.jpg"
	linkURL="images/CNW051117_0108.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0108.JPG">
    <title><![CDATA[CNW051117_0108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0109.jpg"
	thumbURL="thumbs/CNW051117_0109.jpg"
	linkURL="images/CNW051117_0109.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0109.JPG">
    <title><![CDATA[CNW051117_0109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0110.jpg"
	thumbURL="thumbs/CNW051117_0110.jpg"
	linkURL="images/CNW051117_0110.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0110.JPG">
    <title><![CDATA[CNW051117_0110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0111.jpg"
	thumbURL="thumbs/CNW051117_0111.jpg"
	linkURL="images/CNW051117_0111.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0111.JPG">
    <title><![CDATA[CNW051117_0111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/CNW051117_0112.jpg"
	thumbURL="thumbs/CNW051117_0112.jpg"
	linkURL="images/CNW051117_0112.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\CNW51117\LR\CNW051117_0112.JPG">
    <title><![CDATA[CNW051117_0112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>